<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <link rel="stylesheet" href="/css/editProductList.css">
    <title>Lista de productos</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main class="main-tracks">
        <div class="main-header">
            <h3>LISTADO DE PISTAS</h3>
        </div>

        <section class="tracks">

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 1</h4>
                    </div>
                </div>

                <a class="track-button" href="editProduct.ejs">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 3</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 4</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 5</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 6</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 7</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

            <article class="track-card">
                <div class="track-card-img">
                    <img src="/images/imagen_album3.JPG" alt="imagen_artista">
                    <div class="track-card-name">
                        <h4>Pista 8</h4>
                    </div>
                </div>

                <a class="track-button">
                    <button>EDITAR</button>
                </a>
            </article>

        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>