<% for(let i=0; i<3; i++){ %>

<div class="slider-generos">

    <div>

        <a href="/generes/rock">
            <h4>Rock</h4>
            <picture>
                <img src="/images/index/generos_rock.jpg" />
            </picture>
        </a>

    </div>

</div>
<%}%>