<% for(let i=0; i<6; i++){ %>

    <div class="swiper-slide">
        <img src="/images/imagen_album1.JPG" />
        <h3 class="precio_album">$20</h3>
        <div class="descripcion_album">
            <h3>Album super especial boe</h3>
            <div class="subdescripcion_album">
                <a class="descripcion_boton" href="/product/detail">Ver Album</a>
                <div class="calificacion">
                    <span>5</span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>

                </div>
            </div>
        </div>
    </div>

<%}%>