@import url(general.css);

.modal{
    margin: auto;
    width: 90%;
    height: 73%;
    padding: 4%;
    border: none;
    background-color: var(--marron_medio);
    border-radius: 20px;
}

.modal-header{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulares{
    font-size: 1.2rem;
}

.modal-header button{
    background-color: transparent;
    border:none;
    width: 10%;
    cursor: pointer;
}

.modal-header img{
    width: 100%;
}
.modal::backdrop{
    background-color: rgba(224, 222, 222, 0.718);
}

.modal-form-container{
    margin-top: 4%;
}

.modal-form-fields-user{
    margin: 6% 0;
    display: flex;
    flex-direction: column;
}

.label-forms{
    font-size: 1rem;
    font-weight: 500;
}

.modal-form-fields-user input{
    width: 100%;
    padding: 2% 3%;
    margin-top: 2%;
    border: 1.7px solid var(--negro);
    border-radius: 8px;
}

.modal-form-fields-date-cvc{
    display: flex;
    flex-direction: column;
}

.modal-form-date{
    display: flex;
    flex-direction: column;
}

.modal-form-cvc{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.modal-form-date input{
    padding: 2% 3%;
    margin-top: 2%;
    border: 1.7px solid var(--negro);
    border-radius: 8px;
}

.modal-form-cvc input{
    padding: 2% 3%;
    margin-top: 2%;
    border: 1.7px solid var(--negro);
    border-radius: 8px;
}

.checkout-buttons{
    margin-top: 7%;
}

@media (min-width:768px){
    .modal{
        height: 80%;
    }
    .titulares{
        font-size: 1.4rem;
    }
    .label-forms{
        font-size: 1rem;
    }
    .modal-header button{
        width: 5%;
    }
}

@media (min-width:1024px){
    .modal{
        width: 55%;
        height: 72%;
        padding: 2%;
    }   
    .modal-form-fields-user{
        margin:  3% 0;
    }
    .modal-form-fields-date-cvc{
        flex-direction: row;
        justify-content: space-between;
    }
    .modal-form-date{
        width: 60%;
    }
    .modal-form-date input{
        width: 100%;
    }
    .modal-form-cvc{
        width: 38%;
        margin-top: 0.5%;
    }
    .modal-form-cvc input{
        width: 100%;
        padding: 3% 3%;
    }
    .checkout-buttons{
        margin-top: 4%;
    }
}