@import url(general.css);

/*------------------------*/
header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 1.2rem;
  background-color: var(--marron_fuerte);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 140px;
  margin-left: 20px;
}

#check {
  display: none;
}
label .boton_menu {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-weight: bolder;
  font-size: 1.2rem;
}

.btn-carrito,
.btn-home {
  margin: 0 10px;
}

.nav-menu li a {
  color: var(--marron_clarito);
}

.nav-menu .btn a:hover {
  border-bottom: 4px var(--marron_clarito) solid;
}

.nav-menu .btn-usuario label:hover {
  border-bottom: 4px var(--marron_clarito) solid;
}

.nav-menu li form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.nav-menu li form input {
  width: 70%;
  border-radius: 2rem;
  height: 2.1rem;
  background-color: var(--marron_clarito);
  padding: 0.6rem;
  border-radius: 2rem 0rem 0rem 2rem;
  border: 3px var(--naranja) solid;
  border-right: none;
  outline: none;
}

.nav-menu li form button {
  width: 10%;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.6rem;
  border-radius: 0rem 2rem 2rem 0rem;
  border: 3px var(--naranja) solid;
  border-left: none;
  background-color: var(--marron_clarito);
  cursor: pointer;
  color: var(--naranja);
}

.btn-usuario {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-usuario label {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--naranja);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--marron_clarito);
  font-size: 1rem;
}

.icono-home {
  display: none;
}

/*MEDIA QUERYS PARA ADAPTARSE A TAMAÑOS DE PANTALLAS*/

/* Escritorio grande */
@media only screen and (min-width: 795px) and (max-width: 1600px) {
  main {
    background-color: ghostwhite;
  }
}

/*tablet */
@media only screen and (min-width: 501px) and (max-width: 794px) {
  main {
    background-color: #a68f72;
  }

  body {
    background-color: #a68f72;
  }

  .nav-menu li form input {
    width: 80%;
    height: 2.5rem;
  }

  .nav-menu li form button {
    height: 2.5rem;
  }

  .icono-home {
    display: inline;
  }

  label .boton_menu {
    display: block;
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-menu {
    order: 1;
    gap: 1rem;
    flex-direction: column;
    position: revert;
    overflow: hidden;
    width: 100%;
    height: 4.5rem;
    top: 100px;
    text-align: center;
    transition: all 0.5s;
  }

  header label {
    margin-right: 2rem;
    order: 2;
  }

  .nav-menu li {
    width: 100%;
  }
  .nav-menu li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0;
  }

  .btn-busqueda {
    order: 1;
  }

  .btn-carrito {
    order: 4;
  }
  .btn-home {
    order: 2;
  }

  .btn-usuario {
    order: 3;
    width: auto;
    height: auto;
  }
  .btn-usuario label {
    background: none;
    border-radius: unset;
    padding: 20px;
  }

  .btn-usuario label::after {
    content: "   USUARIO";
    color: var(--marron_clarito);
    font-weight: 700;
  }

  .btn-carrito a::after {
    content: "   CARRITO";
    color: var(--marron_clarito);
    font-weight: 700;
  }

  .nav-menu li form {
    width: auto;
  }

  .nav-menu li form input {
    width: 70%;
  }

  .nav-menu li form button {
    width: 10%;
  }

  .nav-menu li {
    display: block;
    line-height: 30px;
    transition: all 0.5s;
  }

  .nav-menu a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  #check:checked ~ .nav-menu {
    position: fixed;
    height: 100%;
    padding-bottom: 6rem;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.95);
  }

  #check:checked ~ .nav-menu li > :hover {
    background-color: #d95a4e;
    line-height: 30px;
    transition: all 0.5s;
  }

  #check:checked ~ .nav-menu li {
    display: block;
  }

  .nav-menu li form {
    padding: 1rem;
  }
  .botones_usuario{
    width: unset;
    visibility: hidden;
    display: none;
  }
  .flecha_usuario{
    width: unset;
    visibility: hidden;
    display: none;
  }

  #usuario_check:checked ~ .botones_usuario {
    width: unset;
    visibility: hidden;
    display: none;
  }
  
  
  #usuario_check:checked ~ .btn-usuario .flecha_usuario {
    width: unset;
    visibility: hidden;
    display: none;
  }

  .btn-usuario label{
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0;
  }

  
}

/* Teléfonos */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  
  .botones_usuario{
    width: unset;
    visibility: hidden;
    display: none;
  }
  .flecha_usuario{
    width: unset;
    visibility: hidden;
    display: none;
  }

  #usuario_check:checked ~ .botones_usuario {
    width: unset;
    visibility: hidden;
    display: none;
  }
  
  
  #usuario_check:checked ~ .btn-usuario .flecha_usuario {
    width: unset;
    visibility: hidden;
    display: none;
  }
  


  .logo {
    margin-left: 0px;
  }

  .nav-menu li form input {
    width: 80%;
    height: 2.5rem;
  }

  .nav-menu li form button {
    height: 2.5rem;
  }
  body {
    background-color: #a1661e;
  }

  .icono-home {
    display: inline;
  }

  label .boton_menu {
    display: block;
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-menu {
    gap: 1rem;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 0%;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all 0.5s;
  }

  .nav-menu li {
    width: 100%;
  }
  .nav-menu li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0;
  }

  .btn-busqueda {
    order: 2;
  }

  .btn-carrito {
    order: 4;
  }

  .btn-usuario {
    order: 3;
    width: auto;
    height: auto;
  }
  .btn-usuario label {
    padding: 20px;
    background: none;
    border-radius: unset;
  }

  .btn-usuario label::after {
    content: "   USUARIO";
    color: var(--marron_clarito);
    font-weight: 700;
  }

  .btn-carrito a::after {
    content: "   CARRITO";
    color: var(--marron_clarito);
    font-weight: 700;
  }

  .nav-menu li form {
    width: auto;
  }

  .nav-menu li form input {
    width: 70%;
  }

  .nav-menu li form button {
    width: 10%;
  }

  .nav-menu li {
    display: block;
    line-height: 30px;
    transition: all 0.5s;
  }

  .nav-menu li > :hover {
    background-color: #d95a4e;
    line-height: 30px;
    transition: all 0.5s;
  }

  .nav-menu a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  #check:checked ~ .nav-menu {
    height: 100%;
    padding-bottom: 6rem;
  }

  #check:checked ~ .nav-menu li {
    display: block;
  }

  .nav-menu li form {
    padding: 1rem;
  }

}

.botones_usuario {
  position: absolute;
  background: darkolivegreen;
  bottom: -130%;
  right: 4%;
  width: 30%;
  overflow: hidden;
  display: none;
  border-radius: 10px;
  background: var(--naranja);
  border: 2px solid var(--marron_clarito);
  outline: 3px solid var(--marron_medio);
  transition: 0.3s ease-in;
}

.botones_usuario li {
  width: 100%;
}

.botones_usuario li a {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
}
.botones_usuario a:hover{
  background-color: #a68f72;
}

#usuario_check {
  display: none;
}

#usuario_check:checked ~ .botones_usuario {
  width: 30%;
  overflow: visible;
  display: block;
}


.flecha_usuario {
  border: none;
  display: block;
  width: 0;
  background: unset;
  height: 0;
  position: absolute;
  top: 75%;
}

#usuario_check:checked ~ .btn-usuario .flecha_usuario {
  border-bottom: 15px solid var(--marron_medio);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#usuario_check:checked ~ .nav-menu{
  position: relative;
}
