<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo e icono de la pestaña-->
    <title>¡Bienvenidos a Sonata!</title>
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

    <!--CDN FONT AWESOME-->
    <script src="https://kit.fontawesome.com/0aeb7696ea.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/styles_header.css">
    <link rel="stylesheet" href="/css/styles_footer.css">
    <link rel="stylesheet" href="/css/styles_main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.9/dist/draggable.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.9/dist/draggable.min.js"></script>

</head>

<body>

    <%- include('./partials/header') %>

        <section class="presentacion">
            <section class="presentacion_marca">
                <h2 id="typed-text">WELCOME TO <br> SONATA</h2>
            </section>

            <img class="imagen_presentacion_movil" src="images/banner/personaPresentacion.png" alt="">

            <span class="btn_fondoColor" href="">
                <i class="fa-solid fa-moon"></i>
            </span>

            <section class="presentacion_productos">
                <img src="images/banner/banner1.jpeg" alt="">
                <h2 id="text_imagen_banner">
                    <div class="estilo_imagen_banner"><i class="fa-solid fa-music fa-beat-fade"></i> The
                        best<br>experience <i class="fa-solid fa-music fa-beat-fade"></i></div>
                </h2>
            </section>

            <div class="particulas">
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
            </div>
        </section>

        <main>
            <!--SLIDER DE ALBUMES POPULARES-->
            <section class="slider_album_populares">
                <div class="container">
                    <h1 class="titulo_populares"><i class="fa-solid fa-compact-disc"></i> Albumes Populares</h1>
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <%- include("./partials/index/productosPopulares")%>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
        </main>

        <section class="filtrador">

            <section class="filtrador_contenedor_botones">
                
                <section class="contenedor_boton_desplegable">
                    <h2>Últimos Albumes</h2>
                    <span class="boton_generos">Seleccionar generos <i class="fa-solid fa-chevron-down flecha_submenu-boton"></i></span>
                </section>
               
                <section class="filtrador_botones">
                    <span class="boton_filtrador" id="rock">Rock</span>
                    <span class="boton_filtrador" id="pop">pop</span>
                    <span class="boton_filtrador" id="clásica">Clasica</span>
                    <span class="boton_filtrador" id="rap">Rap</span>
                    <span class="boton_filtrador" id="electronica">Electrónica</span>
                    <span class="boton_filtrador" id="todo">Todo</span>
                    <span class="boton_filtrador" id="nada"><i class="fa-solid fa-xmark"></i></span>
                </section>

                <a class="vermas" href="">Ver Más <i class="fa-solid fa-arrow-right"></i></a>

            </section>

            <section class="contenedor_albumes_filtrar">
                <div class="tarjeta_album todo rock">

                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº1</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>

                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album1.jpg">

                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>

                    <h3 class="precio_tarjeta_album">$130</h3>

                </div>


                <div class="tarjeta_album todo pop">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº2</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album3.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>

                <div class="tarjeta_album todo rock">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº3</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album4.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>

                <div class="tarjeta_album todo rock">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº4</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album5.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>

                <div class="tarjeta_album todo pop">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº5</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album6.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>


                <div class="tarjeta_album todo pop">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº2</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album3.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>

                <div class="tarjeta_album todo rock">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº3</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album4.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>

                <div class="tarjeta_album todo rock">
                    <section class="titulo_tarjeta_album">
                        <h2>Album Nº4</h2>
                        <i class="fa-solid fa-cart-plus"></i>
                    </section>
                    <img class="imagen_tarjeta_album" src="images/imagenes_albumsGenerales/imagen_album5.jpg">
                    <div class="fondo_imagen">
                        <a class="boton_verProducto" href="">Ver producto <i class="fa-solid fa-eye"></i></a>
                    </div>
                    <h3 class="precio_tarjeta_album">$130</h3>
                </div>
            </section>

        </section>


        <!--Footer-->
        <%- include('./partials/footer') %>

            <script src="/scripts/script_scroll.js"></script>

            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script src="/scripts/script-slider-responsive.js"></script>
            <script src="/scripts/script-slider-generos.js"></script>
            <script src="/scripts/barra-navegacion.js"></script>
            <script src="/scripts/filtrador.js"></script>
</body>

</html>