<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo e icono de la pestaña-->
    <title>¡Bienvenidos a Sonata!</title>
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

    <!--CDN FONT AWESOME-->
    <script src="https://kit.fontawesome.com/0aeb7696ea.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/styles_header.css">
    <link rel="stylesheet" href="/css/styles_footer.css">
    <link rel="stylesheet" href="/css/styles_main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.9/dist/draggable.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.9/dist/draggable.min.js"></script>


</head>

<body>
    <%- include('./partials/header') %>

        <main>

            <!--SLIDER DE ALBUMES POPULARES-->
            <section class="slider_album_populares">
                <div class="container">
                    <h1 class="titulo_populares"><i class="fa-solid fa-compact-disc"></i> Albumes Populares</h1>
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <%- include("./partials/index/productosPopulares")%>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>

            <section class="slider_alubum_generos">

                <article class="generos_album">
                    <input type="radio" name="filtro" id="pop">
                    <input type="radio" name="filtro" id="rock">
                    <input type="radio" name="filtro" checked id="todo">
                    <input type="radio" name="filtro" id="x">
    
                    <section class="botones_filtro">
                        <label for="todo">Todo</label>
    
                        <label for="rock">Rock</label>
    
                        <label for="pop">Pop</label>
    
                        <label for="x">×</label>
                    </section>
    
                    <figure id="filtro">
                        <img src="images/imagen_album1.jpg" class="todo rock">
                        <img src="images/imagen_album2.jpg" class="todo pop">
                        <img src="images/imagen_album3.jpg" class="todo pop">
                        <img src="images/imagen_album4.jpg" class="todo rock">
                        <img src="images/imagen_album5.jpg" class="todo rock">
                        <img src="images/imagen_album6.jpg" class="todo pop">
                        <img src="images/imagen_album7.jpg" class="todo rock">
                        <img src="images/imagen_album1.jpg" class="todo pop">
                    </figure>
    
                </article>
            </section>
        </main>

        <!--Footer-->
        <%- include('./partials/footer') %>

            <script src="/scripts/script_scroll.js"></script>

            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script src="/scripts/script-slider-responsive.js"></script>
            <script src="/scripts/script-slider-generos.js"></script>
</body>

</html>