<footer>
    <p><i class="fa-regular fa-copyright"></i> Copyrigth</p>

    <ul class="enlaces_informacion">
        <li><a href="">Consultas</a></li>
        <li><a href="">Acerca de nosotros</a></li>
    </ul>

    <ul class="enlaces_sociales">
        <li class="red_social"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="red_social"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li class="red_social"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
    </ul>

</footer>