<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>

    <!--Main content-->
    <main>

        <!--Left content-->
        <section class="session-content">

            <div class="image-background">

            </div>

            <div class="logo">

            </div>

            <a href="#">Volver al Inicio</a>

        </section>

        <!--Right content-->
        <section class="form-content">
            <form action="" method="post">

            </form>
        </section>
        
    </main>

    <!--Footer-->
    <footer>

    </footer>
</body>
</html>