<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <title>Iniciar Sesión</title>
</head>
<body>

    <!--Main content-->
    <main class="main-login">

        <!--Left content-->
        <section class="login-content">
    
            <div class="logo-container">
                <img class="logo" src="/images/imagen_logo_sonata_v1.png" alt="logo Sonata">
            </div>

            <a href="/general"><button class="login-button">Volver al Inicio</button></a>

        </section>

        <!--Right content-->
        <section class="login-form-content">

            <h1 class="titulares">INICIAR SESIÓN</h1>

            <form class="form-login" action="" method="post">

                <label class="label-forms" for="">Email/Usuario</label>
                <input type="text" name="loged-user" required placeholder="Nombre de usuari@"></input>
                
                <label class="label-forms" for="">Clave</label>
                <input type="password" name="loged-password" required placeholder="Contraseña"></input>

                <a class="form-login-submit" href="#">
                    <button type="submit">Ingresar</button>
                </a>

                <a class="form-login-forgot-password" href="#">Olvidé la contraseña</a>
                
                <div class="remember-section">
                    <input type="checkbox" value="remember">
                    <a href="#">Recordar usuario</a>
                </div>
            </form>


            <div class="login-register-section">
                <h5 class="recomendaciones">¿Eres nuevo?</h5>
                <a href="#"><button>Crear cuenta</button></a>
            </div>

        </section>

    </main>

    <!--Footer-->
    <%- include('../partials/footer') %>
</body>
</html>